.rb-map-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.rb-map-gps {
  align-self: flex-start;
  margin-bottom: 0.65rem;
}

.rb-map {
  flex: 1;
  width: 100%;
  height: 65vh;
  border-radius: 1.1rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .rb-map {
    height: 45vh;
  }
}
